.yo-footer {
  // NOTE: All screens, except mobile phones
  @media (min-width: $media-device--mobile) {
    margin-bottom: 12.5em;
    margin-top: 16.25em;
  }

  // NOTE: Only for mobile phones
  @media (max-width: $media-device--mobile) {
    margin-bottom: 5em;
    margin-top: 7em;
  }
}
