@import 'styles/vars.scss';

.yo-grid {
  // Extra large devices (large desktops, 1500px and up)
  @media (min-width: 1500px) {
    width: 1440px;
  }

  .yo-grid__row {
    // NOTE: All screens, except mobile phones
    @media (min-width: $media-device--mobile) {
      &--equal-height {
        display: flex;
        flex-wrap: wrap;

        > [class*='col-'] {
          display: flex;
          flex-direction: column;
        }

        &::after,
        &::before {
          display: flex;
        }
      }
    }

    // NOTE: Only for mobile phones
    @media (max-width: $media-device--mobile) {
      &--mobile-spaced {
        &-xs {
          > .yo-grid__col {
            margin-top: 0.750em;
          }
        }

        &-sm {
          > .yo-grid__col {
            margin-top: 1.500em;
          }
        }

        &-md {
          > .yo-grid__col {
            margin-top: 3.000em;
          }
        }

        &-lg {
          > .yo-grid__col {
            margin-top: 4.000em;
          }
        }
      }
    }
  }

  .yo-grid__col {
    &--content-align {
      &-middle {
        display: flex;
        justify-content: center;
      }
    }

    // NOTE: All screens, except mobile phones
    @media (min-width: $media-device--mobile) {
      padding: 0 0.75em !important;
    }

    // NOTE: Only for mobile phones
    @media (max-width: $media-device--mobile) {
      padding: 0 1.5em !important;
    }
  }
}
