<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Default title tag -->
  <title>YO! mates - Yevhen & Olenka</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CEO meta tags -->
  <meta name="robots" content="index, follow" />
  <meta name="language" content="en">

  <!-- Other meta tags -->
  <meta name="theme-color" content="#ffce00">

  <!-- yo-landing app styles -->
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>
</head>

<body>
  <div id="yo-landing"></div>

  <!-- yo-landing SPA -->
</body>

<noscript>
  <div style="background-color: red; bottom: 0; color: white; padding: 10px 0; position: fixed; text-align: center; width: 100%; z-index: 999">
    <p style="margin: 0">
      ATTENTION: JavaScript is turned off.
      <br />
      Please turn on JavaScript for better user experience.
    </p>
  </div>
</noscript>

<!-- START: Registering Our Service Worker -->
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/<%= process.env.SERVICE_WORKER_FILE_NAME %>.js').then(function(registration) {
        console.log('SW registered: ', registration);
      }).catch(function(registrationError) {
        console.log('SW registration failed: ', registrationError);
      });
    });
  }
</script>
<!-- END: Registering Our Service Worker -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS_TRACKING_ID %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= process.env.GOOGLE_ANALYTICS_TRACKING_ID %>');
</script>

<!-- Start of Crisp code -->
<script type="text/javascript">
  window.$crisp = [];
  window.CRISP_WEBSITE_ID = "<%= process.env.CRISP_WEBSITE_ID %>";
  (function() {
    d = document;
    s = d.createElement("script");
    s.src = "https://client.crisp.chat/l.js";
    s.async = 1;
    d.getElementsByTagName("head")[0].appendChild(s);
  })();
</script>
<!-- End of Crisp code -->

</html>
